/* Stylesheet For All Components */

.App {
  width: 40%;
  margin: auto;
  background-color: #aaaaaa;
}

.screen {
  background-color: #aaaaff;
  padding: 1em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.key {
  margin-left: 2.5%;
  width: 21.88%;
  background-color: #000000;
  color: #ffffff;
  border: 0;
}
