/* Stylesheet For All Components */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

@media (min-width: 500px) {
  .App {
    width: 40%;
    height: 80%;
    background-color: red;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }

  .App {
    background-color: green;
    width: 100%;
    height: 100%;
  }
}

.App {
  /*background-color: #aaaaaa;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.5em;
}

.screen {
  display: flex;
  background-color: #aaaaff;
  width: 85%;
  height: 15%;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.key {
  width: 21.88%;
  height: 10%;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  font-size: 1rem;
}
